{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h2>Change Password</h2>
    </br>
    <form action="/change-password" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="current" type="password" placeholder="Current Password" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="new" type="password" placeholder="New Password" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="confirmation" type="password" placeholder="New Password (again)" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
